body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu,
.user-cart {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.main-menu a {
  text-decoration: none;
  color: #000000;
}

.slider ul,
.description ul,
.partners ul,
.footer-social ul,
.catalog ul,
.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider h3 {
  margin: 0;
  padding: 0;
  font-size: 54px;
  line-height: 54px;
  font-weight: 500;
}

.slider p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #283136;
}

.service ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.service p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #283136;
}

.description h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.description h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.description p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #283136;
}

.description ul {
  color: #283136;
}

.description .percent {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.description .indicator {
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}

.map p {
  margin: 0;
  padding: 0;
  color: #666666;
}

.footer-info h2 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}

.footer-info p {
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.catalog-page h1 {
  margin: 0;
  padding: 0;
  font-size: 54px;
  line-height: 54px;
  font-weight: 500;
}

.sorting p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-type a {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}

.sorting-type .current {
  opacity: 1;
}

.catalog-overlay h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-overlay p {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.pagination a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}
